* {
    box-sizing: border-box;
    border: auto;
    margin: 0;
}

body{
    max-width: 960px;
    border: blueviolet 1px solid;
    margin: 0 auto; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.jumbotron{
    background-image:url("../sawyer-bengtson-279792-unsplash.jpg");
    text-align: center;
}

.card-header, tr{
    background: royalblue;
    color: black;
}

h1 {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 40px;
color: lime; 
}

p{  
    font-size: 20px;
    font-style: italic;
    color:  white;

}

#train-details, card{
    border: pink 1px solid;
}

#formTitle{
    background: rebeccapurple;
}